#rewardPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(88, 85, 85, 0.5); /* 半透明黑色背景 */
    padding: 20px;
    text-align: center;
}
button.rewardButton {
    margin: 10px;
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7e7873;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #645f5b;
}